{
  "title": "Camgo - Video Chat Alternative - InstaCams",
  "description": "With Camgo, enjoy a cam-to-cam chat with strangers. Meet random people worldwide looking for an entertaining Camgo alternative site.",
  "canonical": "https://www.instacams.com/camgo",
  "hreflang": [
    {
      "lang": "x-default",
      "href": "https://www.instacams.com/camgo"
    },
    {
      "lang": "de",
      "href": "https://www.instacams.com/de/camgo"
    },
    {
      "lang": "es",
      "href": "https://www.instacams.com/es/camgo"
    },
    {
      "lang": "fr",
      "href": "https://www.instacams.com/fr/camgo"
    }
  ]
}
